{
    "parser":  "@typescript-eslint/parser",
    "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:@-k/base"
    ],
    "settings": {
        "import/core-modules": ["vscode"],
        "import/parsers": {
            "@typescript-eslint/parser": [".ts"]
        },
        "import/extensions": [".js", ".ts"],
        "import/resolver": {
            "typescript": {
              "alwaysTryTypes": true,
              "project": "."
            }
        }
    },
    "rules": {
        "prettier/prettier": ["error", {
            "tabWidth": 4,
            "singleQuote": true,
            "printWidth": 100,
            "bracketSpacing": false
        }],
        "lodash-fp/use-fp": "warn",
        "import/namespace": "off",
        "no-const-assign": "warn",
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "no-unused-vars": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn"
    }
}